.file{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 padding-bottom: 5em;
}
.file-input{
   width: 25em;
   height: 20em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border:2px dotted #12a812
}

.file-input> input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  
  .file-input> input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #12a812;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .file-input> input[type=file]::file-selector-button:hover {
    background: #12a812;
  }

  .file>button{
    background: #12a812;
    border: none;
    outline: #12a812;
    font-size: 17px;
    margin-top: 10px;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 5px;
    color:#fff
  }